Project_A/Library/
Project_A/.vsconfig
Project_A/Assets/XInputDotNet/Plugins/XInputDotNetPure.dll
Project_A/Assets/XInputDotNet/Plugins/x86/XInputInterface.dll
Project_A/Assets/XInputDotNet/Plugins/x86_64/XInputInterface.dll
Project_A/Logs/AssetImportWorker0.log
Project_A/Logs/shadercompiler-AssetImportWorker0.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe12.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe13.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe14.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe15.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe16.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe17.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe18.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe19.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe20.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe21.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe22.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe23.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Project_A/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Project_A/Temp/ApiUpdater_CheckMovedFromea802cfaf385786469e848ac32e888f5
Project_A/Temp/Assembly-CSharp.dll.hash
Project_A/Temp/Assembly-CSharp-Editor.dll.hash
Project_A/Temp/Assembly-CSharp-Editor-firstpass.dll.hash
Project_A/Temp/Assembly-CSharp-firstpass.dll.hash
Project_A/Temp/Cinemachine.dll.hash
Project_A/Temp/Coffee.SoftMaskForUGUI.dll.hash
Project_A/Temp/Coffee.SoftMaskForUGUI.Editor.dll.hash
Project_A/Temp/com.unity.cinemachine.editor.dll.hash
Project_A/Temp/CompilationLog.txt
Project_A/Temp/ExportedBlenderFBXFile.fbx
Project_A/Temp/Unity.CollabProxy.Editor.dll.hash
Project_A/Temp/Unity.InputSystem.dll.hash
Project_A/Temp/Unity.Mathematics.dll.hash
Project_A/Temp/Unity.Mathematics.Editor.dll.hash
Project_A/Temp/Unity.PlasticSCM.Editor.dll.hash
Project_A/Temp/Unity.RenderPipeline.Universal.ShaderLibrary.dll.hash
Project_A/Temp/Unity.RenderPipelines.Core.Editor.dll.hash
Project_A/Temp/Unity.RenderPipelines.Core.Runtime.dll.hash
Project_A/Temp/Unity.RenderPipelines.Core.ShaderLibrary.dll.hash
Project_A/Temp/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll.hash
Project_A/Temp/Unity.RenderPipelines.Universal.Editor.dll.hash
Project_A/Temp/Unity.RenderPipelines.Universal.Runtime.dll.hash
Project_A/Temp/Unity.RenderPipelines.Universal.Shaders.dll.hash
Project_A/Temp/Unity.Rider.Editor.dll.hash
Project_A/Temp/Unity.Searcher.Editor.dll.hash
Project_A/Temp/Unity.ShaderGraph.Editor.dll.hash
Project_A/Temp/Unity.ShaderGraph.Utilities.dll.hash
Project_A/Temp/Unity.TextMeshPro.dll.hash
Project_A/Temp/Unity.TextMeshPro.Editor.dll.hash
Project_A/Temp/Unity.Timeline.dll.hash
Project_A/Temp/Unity.Timeline.Editor.dll.hash
Project_A/Temp/Unity.VisualEffectGraph.Editor.dll.hash
Project_A/Temp/Unity.VisualEffectGraph.Runtime.dll.hash
Project_A/Temp/Unity.VisualStudio.Editor.dll.hash
Project_A/Temp/Unity.VSCode.Editor.dll.hash
Project_A/Temp/UnityEditor.TestRunner.dll.hash
Project_A/Temp/UnityEditor.UI.dll.hash
Project_A/Temp/UnityEngine.TestRunner.dll.hash
Project_A/Temp/UnityEngine.UI.dll.hash
Project_A/Temp/UnityLockfile
Project_A/Temp/UnityTempFile-009be96f53db31a4dbf672a1ed81bf43
Project_A/Temp/UnityTempFile-0178c6a9233c14740b847b63b3b0c5c8
Project_A/Temp/UnityTempFile-03caa808e0c650f42bbcbb213a50f474
Project_A/Temp/UnityTempFile-04b564d4038f7d84c9bf1f62d5bdf58d
Project_A/Temp/UnityTempFile-063771b13cd5213449bff3b1dded3d81
Project_A/Temp/UnityTempFile-09040f84137db2c4db8797721221ebdf
Project_A/Temp/UnityTempFile-0e277b30513e39248b04ed6bbac1758c
Project_A/Temp/UnityTempFile-11a2332964dbc9c40966853c37cc43b6
Project_A/Temp/UnityTempFile-1784ab641c2b07544b7c74237f74a099
Project_A/Temp/UnityTempFile-2160d26ce5fcf194a99203777785e749
Project_A/Temp/UnityTempFile-2339fa08bbce6cd4387fde03d8627709
Project_A/Temp/UnityTempFile-24a49ca14e10cc64ba354e95c31ef859
Project_A/Temp/UnityTempFile-24c8d2fbe52ed724cbf2c8b38665c027
Project_A/Temp/UnityTempFile-25067773b5ceb934d9d749702027e82b
Project_A/Temp/UnityTempFile-260a3f6b44254bd47a311ba95cd63448
Project_A/Temp/UnityTempFile-283afad6f6013fb479b2455b3e25af37
Project_A/Temp/UnityTempFile-32573d29f4c784440acef6448eb04db1
Project_A/Temp/UnityTempFile-359b288ec023cd9469032a7a49c08629
Project_A/Temp/UnityTempFile-37cea6ce43461754298d92ea32f46ab7
Project_A/Temp/UnityTempFile-3a63917dccb8a5c438969a91173821ee
Project_A/Temp/UnityTempFile-404c5a3a52ed0784d8e1e6f78048449f
Project_A/Temp/UnityTempFile-422f6c77a8592114ea4a708cbf0ce45d
Project_A/Temp/UnityTempFile-431ab8948f9cbb043b101aff891edcf5
Project_A/Temp/UnityTempFile-449290bc2b7567d4886184aa9cdfe980
Project_A/Temp/UnityTempFile-45369c65c779dc6468eb1722f85de406
Project_A/Temp/UnityTempFile-4a6e37192c8cdc441b8ae45dec54d877
Project_A/Temp/UnityTempFile-54342cb06e6e7524fb06ebf5447af79c
Project_A/Temp/UnityTempFile-62a006d518516984ea1ffd0c6bfdbbbf
Project_A/Temp/UnityTempFile-630bf7d8d5b75f346a6d659688ab0deb
Project_A/Temp/UnityTempFile-66488d4225ab28d41a169c7eb466fb93
Project_A/Temp/UnityTempFile-667457617f7078f459ef5ac76ba7e2f1
Project_A/Temp/UnityTempFile-6cf145079a86005408fff1c74036c29f
Project_A/Temp/UnityTempFile-70c7da4c65563a045b3aefb66f8520f7
Project_A/Temp/UnityTempFile-7512bbbfe5f923a4e8a50aa97183b939
Project_A/Temp/UnityTempFile-76b559df03f87de40b6d0b20a5405ae9
Project_A/Temp/UnityTempFile-7d8db41d26c233245910641613d37e2c
Project_A/Temp/UnityTempFile-7dc2401833fbd1748b72c366877a0880
Project_A/Temp/UnityTempFile-80deee1d3fac00246886e11bc47c316a
Project_A/Temp/UnityTempFile-8167fa143739d214caededc439527398
Project_A/Temp/UnityTempFile-8750ccf721d49c9488a4eb3cf53caa13
Project_A/Temp/UnityTempFile-876bba3f7e5e4eb40860afd1d4cced2d
Project_A/Temp/UnityTempFile-88b3e47804a48d3459fe04ce74c29a67
Project_A/Temp/UnityTempFile-8af9de0c99ec20149bdf374d687e2884
Project_A/Temp/UnityTempFile-8c173c45f987dac44bd2cff5d57bd11a
Project_A/Temp/UnityTempFile-8f159c8684414744887be0bb6d6f7c93
Project_A/Temp/UnityTempFile-9adc27b01f3da0d4db6ad86b8a9d5ee2
Project_A/Temp/UnityTempFile-9d94e826923c81f439028ff53ab81082
Project_A/Temp/UnityTempFile-a1eb46aca9f84e6499b57805b4569b64
Project_A/Temp/UnityTempFile-a22decceec992fc47b0c8ee05cb91705
Project_A/Temp/UnityTempFile-a6ad0f0bebd2625408de4f1ae733f2bc
Project_A/Temp/UnityTempFile-aa15c8245fbdc224392eceee53866049
Project_A/Temp/UnityTempFile-aca35082f70bae845970e8ab8c0b3577
Project_A/Temp/UnityTempFile-acd0cdf5abc1df640b37b17c99a3b139
Project_A/Temp/UnityTempFile-ace5b3da3796889498ed98836a8a1c61
Project_A/Temp/UnityTempFile-b16da89ed3256af409b8c4e62850b630
Project_A/Temp/UnityTempFile-b23d97df29a966e4483477e4336e4da9
Project_A/Temp/UnityTempFile-b2a5293857514fe40ab9a71044b971ae
Project_A/Temp/UnityTempFile-c0c04dda73e36524198d85bef6b56bb7
Project_A/Temp/UnityTempFile-c1c1850f4fb2d194db2ccc57cdae91c2
Project_A/Temp/UnityTempFile-c6ee1fcdea8dd3d4a9f97e90a8dd9864
Project_A/Temp/UnityTempFile-cb6f4c95dda9c204ab88179dab401146
Project_A/Temp/UnityTempFile-cb8c57db3626b364aac927f47b95c2bc
Project_A/Temp/UnityTempFile-cdcd7cf52f4c71346b7973e04929e232
Project_A/Temp/UnityTempFile-d01cdb2e203afb045b319adfce28c1c8
Project_A/Temp/UnityTempFile-d89d30ccd6e44194ab8d3a29c2437f82
Project_A/Temp/UnityTempFile-db3990a7fa5d0ca42adbafb6f976a937
Project_A/Temp/UnityTempFile-e31b960e2f15041469a5998ae24129d2
Project_A/Temp/UnityTempFile-e3985634ab074b24f8f3057485070806
Project_A/Temp/UnityTempFile-e564f4b3355994743bb286ce7b2323f5
Project_A/Temp/UnityTempFile-ed84e4a43d535e444840b57f928a17aa
Project_A/Temp/UnityTempFile-edaa5de56d2818b4592f35c0b1dc28bd
Project_A/Temp/UnityTempFile-ef5f2bade1ed1c047ab4cbee0d3b0550
Project_A/Temp/UnityTempFile-f5cef889459e2d940b0d3397437f4c22
Project_A/Temp/UnityTempFile-f8081283a25bc2847a88a8dba8c61c47
Project_A/Logs/AssetImportWorker0-prev.log
Project_A/Temp/UnityTempFile-0010738cd6063fe4dbf91da22de4faf3
Project_A/Temp/UnityTempFile-05d5aa3e14c8df440a50ecceceb0d094
Project_A/Temp/UnityTempFile-0f7111a33098c844495cd82008f21aa8
Project_A/Temp/UnityTempFile-128db89d797009e4bbae3cb7fa605a07
Project_A/Temp/UnityTempFile-184ef905ec45ed347a5af05039810f12
Project_A/Temp/UnityTempFile-19a35d6438bf0314cb52af792bd1cf37
Project_A/Temp/UnityTempFile-1edc23a988cbe4b4ea4b3bf5bb641eb3
Project_A/Temp/UnityTempFile-28b5e8aac01f4204ba9ca8a10aa8002b
Project_A/Temp/UnityTempFile-2a3b5a0d0c39e3d4fa16febff986af45
Project_A/Temp/UnityTempFile-453e56b6ad7e65346818a4288f89a66a
Project_A/Temp/UnityTempFile-48d7b067fc1c3e249835c706bed32ed1
Project_A/Temp/UnityTempFile-56b0d950fcd100449bb47908d25265bf
Project_A/Temp/UnityTempFile-5c8bfc46b33f7674dbec57c4e711f164
Project_A/Temp/UnityTempFile-5d37461929424544fa71e14df0587b9d
Project_A/Temp/UnityTempFile-68f385ef3f209dc46819007b0d705eae
Project_A/Temp/UnityTempFile-6ac86f504443a7443a735984646ffcac
Project_A/Temp/UnityTempFile-74595286d23cb354db0f4eb986174bb1
Project_A/Temp/UnityTempFile-77028109865137c4da30de76123505a4
Project_A/Temp/UnityTempFile-781946560a480c8498920e7efb8307e9
Project_A/Temp/UnityTempFile-84d02c66a65b7d8498c48b79ee4f294e
Project_A/Temp/UnityTempFile-8579d0c4bdb40a144a55642947685abc
Project_A/Temp/UnityTempFile-8ba494c349fc555458ac193388c7a2e6
Project_A/Temp/UnityTempFile-93ccd63237ede3745bc003ee2a94012e
Project_A/Temp/UnityTempFile-959b4848d7f26db499d8235abf8aaa42
Project_A/Temp/UnityTempFile-9b9c28d79705acb4c8ed01f1968d53d1
Project_A/Temp/UnityTempFile-acd51b1c2eb9f084c8f088efc26b9964
Project_A/Temp/UnityTempFile-b881998a93a8eec46acaa95213e10fb9
Project_A/Temp/UnityTempFile-c252ffcc4be77ad4a9062d20a289937f
Project_A/Temp/UnityTempFile-d5bdbb1e1eb6a7448a286d21dea44bbb
Project_A/Temp/UnityTempFile-d64689257e0b6f04c937ae63590b980d
Project_A/Temp/UnityTempFile-d92057fd016fba74e80c8735f60592ba
Project_A/Temp/UnityTempFile-dfb711842fb12b74e95f5f35f95a3db2
Project_A/Temp/UnityTempFile-eb3fdbdd67964794a8b0a3ab25fa6333
Project_A/Temp/UnityTempFile-eb931e69d7534f0419fcf441e56652a7
Project_A/Temp/UnityTempFile-ee71d50a68557da4d9b7291f0491ce35
Project_A/Temp/UnityTempFile-f22122205714f4c4e9d885f1ca977d18
Project_A/Temp/UnityTempFile-f5320e34be819a441b180bf601ad1815
Project_A/Temp/
*.meta
